.now-coporation {
  display: flex;
  width: 1200px;
  margin: 50px auto;
  background-color: #fff;

  .preservation {
    height: 100%;
    padding: 50px 0px 50px 150px;
  }
  .merchant-app {
    height: 280px;
    width: 75%;
  }
  .img-reg-merchant {
    height: 300px;

    img {
      height: 100%;
    }
  }
  .img-deliverynow {
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
  }
}
