.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 10px 30px;
  z-index: 1000;
}
.nav-item .active {
  font-weight: bold;
  color: $orage !important;
  border-bottom: 3px solid $orage;
}
.nav-item a:hover {
  color: $orage !important;
}
.list-item a:hover {
  color: $orage;
}
.navbar-logo {
  height: 30px;
}
.navbar-logo img {
  height: 100%;
}
.login {
  height: 100%;
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid $orage;

  .login-btn {
    color: $orage;
  }
}
