html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: Arial, sans-serif;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.container {
  max-width: 1500px !important;
  margin: 0 auto !important;
}

.back-top {
  position: fixed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #959595;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

h1 {
  margin: 0px;
  color: #fff;
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 15px;
  color: #fff;
  margin: 0px;
}

h4 {
  font-size: 15px;
  font-weight: inherit;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  opacity: 0.5;
}

.text-orage {
  color: #ee4d2d;
}

.text-blue {
  color: #0288d1;
}

.text-lightblue {
  color: #4d77a2;
}

.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 10px 30px;
  z-index: 1000;
  top: 0;
}

.nav-item .active {
  font-weight: bold;
  color: #ee4d2d !important;
  border-bottom: 3px solid #ee4d2d;
}

.nav-item a:hover {
  color: #ee4d2d !important;
}

.list-item a:hover {
  color: #ee4d2d;
}

.navbar-logo {
  height: 30px;
}

.navbar-logo img {
  height: 100%;
}

.login {
  height: 100%;
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid #ee4d2d;
}

.login .login-btn {
  color: #ee4d2d;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  margin-right: 5px;
}

.language img {
  width: 100%;
}

/* Modifier */
.btn--size-l {
  padding: 16px 56px;
}

.btn--size-s {
  padding: 8px 32px;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 16px;
}

.btn--success {
  background-color: #71be34;
}

.btn--warn {
  background-color: #ffb702;
}

.btn--danger {
  background-color: #ff623d;
}

.btn--disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* ======= Toast message ======== */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.box-container {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-container .loginShoppe {
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
}

.box-container .loginShoppe .btnsignup {
  border-radius: 5px;
  line-height: 2;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 35px;
  margin: 10px auto;
}

.box-container .loginShoppe .btnsignup .icon-contact {
  font-size: 25px;
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
}

.box-container .loginShoppe .btnsignup:hover {
  opacity: 0.8;
}

.box-container .loginShoppe .phoneNumber {
  background-color: #329900;
}

.box-container .loginShoppe .loginFacebook {
  background-color: #187caa;
}

.box-container .loginShoppe .loginGoogle {
  background-color: #ff5252;
}

.box-container .loginShoppe .usernamePassword input {
  height: 50px;
  width: 100%;
  padding-left: 40px;
}

.box-container .loginShoppe .icon {
  opacity: 0.8;
  position: relative;
  top: 38px;
  left: -250px;
}

.box-container .loginShoppe a {
  text-decoration: underline;
}

.box-container .loginShoppe .rules {
  margin: 30px 0px;
}

footer {
  padding: 30px 0px;
  background-color: #f2f2f2;
  width: 100%;
  height: 372px;
}

.logo-shoppe {
  cursor: pointer;
}

.facebook,
.instagram {
  display: inline-block;
  border-radius: 50%;
  background-color: #959595;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.facebook:hover {
  background-color: #0288d1;
}

.instagram:hover {
  background-color: #ba30a7;
}

.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.link-icon .icon {
  font-size: 16px;
  line-height: 30px;
}

.img-bocongthuong {
  width: 170px;
  cursor: pointer;
}

.img-bocongthuong img {
  width: 100%;
}
/*# sourceMappingURL=register.css.map */